
body {

	background-color: black;
	background-image: url("VFDlogo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: lawngreen;

}

h1 {

	font-size: 64px;
	text-align: center;

}

hr {

	color: lawngreen;
	border-color: lawngreen;
	background-color: lawngreen;

}

